@tailwind base;
@tailwind components;
@tailwind utilities;

/* rest to default  */
*, *::ebefore, *::after{
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

html {
  scroll-behavior: smooth;
}

html.normal-scroll {
  scroll-behavior: auto;
}

@layer base {
  body {
    @apply bg-[#040404] text-[#FFFFFF] tracking-wide;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }
  h2 {
    @apply text-4xl sm:text-5xl;
  }
  li {
    @apply cursor-pointer;
  }
  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#56651e5] to-[#709dff] text-white;
  }

  .nextimg{
    width: 100%;
    height: auto;
  }


img {
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -o-transition: .3s ease all;
  -ms-transition: .3s ease all
  
}

img:hover {
  scale: 102%;
}

.sample-slider .swiper-wrapper{
  transition-timing-function: linear;
}

.loading {
  width: 56px;
  height: 56px;
  border: 11.2px #474bff double;
  border-left-style: solid;
  border-radius: 50%;
  animation: spinner-aib1d7 0.75s infinite linear;
}

@keyframes spinner-aib1d7 {
  to {
     transform: rotate(360deg);
  }
}

}
